<div class="row">
  <% posts.each do |post| %>
    <div class="col-lg-3 col-sm-10 mb-3 mb-sm-0">
      <div class="card mx-auto mt-4 shadow-lg" style="height: 450px;">
        <%= link_to "#{post.category.name}", categorized_path(post.category.id), class: "dropdown-item" %>
        <%= link_to post_path(post.id), class: "card-img-top " do %>
          <%= image_tag post.get_image(200,200), size: "250x250" %>
        <% end %>
        <div class="card-body">
          <p class="card-text"><%= post.body %></p>
          <div class="row align-items-end">
            <div class="col-3">
              <%= link_to user_path(post.user.id) do %>
                <%= image_tag post.user.get_profile_image(40, 40), class: "translate-middle rounded-circle"; %>
              <% end %>
            </div>
            <div class="col-9">
              <span><i class="fas fa-user"></i> By <%= post.user.name %> </span><br>
              <span class="text-dark">
                <%= link_to post_path(post.id) do %>
                  <%= post.post_comments.count %> <i class="fa-regular fa-message"></i> ｜
                <% end %>
              </span>
              <span class="text-dark">
                <% if post.bookmarked_by?(current_user) %>
                    <%= link_to post_bookmark_path(post), method: :delete do %>
                      <%= post.bookmarks.count %> <i class="fa-solid fa-star"></i>
                    <% end %>
                <% else %>
                    <%= link_to post_bookmark_path(post), method: :post do %>
                      <%= post.bookmarks.count %> <i class="fa-regular fa-star"></i>
                    <% end %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= paginate posts %>