<h2>ブックマーク一覧</h2>

<div class="container py-5">
    <!-- ソートボタン -->
    <ul class="nav justify-content-end">
      <li class="nav-item"><%= link_to "追加日新しい順", bookmarked_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "追加日古い順", bookmarked_path(bookmarked_old: "true"), class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "投稿日新着順", bookmarked_path(latest: "true"), class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "投稿日古い順", bookmarked_path(old: "true"), class: "nav-link" %> </li>
    </ul>

  <%= render 'list', posts: @posts %>
</div>