<h1>投稿一覧</h1>
<div class="container py-2">
  <h3 class="mb-5 text-center">
  ”なんでもソーシャル生き物図鑑”にようこそ！
  ここは生き物の写真を投稿して、<br>生き物に関する知識を広めていくコミュニティサイトです。
  </h3>
  
  <!-- カテゴリ検索ボタン -->
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
      カテゴリ検索
    </button>
    <ul class="dropdown-menu">
      <% Category.all.each do |category| %>
        <li>
          <%= link_to "#{category.name}", categorized_path(category.id), class: "dropdown-item" %>
        </li>
      <% end %>
    </ul>
  </div>
  
  <!-- ソートボタン -->
  <div>
    <ul class="nav justify-content-end">
    <li class="nav-item"><%= link_to "新着順", posts_path(latest: "true"), class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "古い順", posts_path(old: "true"), class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "ブックマーク順", posts_path(bookmark_count: "true"), class: "nav-link" %> </li>
    </ul>
  </div>
  <%= render 'list', posts: @posts %>
</div>