<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "投稿一覧", posts_path %></li>
    <li class="breadcrumb-item active" aria-current="page">新規投稿</li>
  </ol>
</nav>

<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-5 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">画像投稿フォーム</h5>
      <div class="form-body p-4">
        <% if @post.errors.any? %>
          <ul class="alert alert-danger" role="alert">
            <h6 class="alert-heading">
              <%= @post.errors.count %>件のエラーが発生しました
            </h6>
            <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <%= form_with model: @post do |f| %>
          <h5>画像</h5>
          <%= f.file_field :image, accept: "image/jpeg", class: "w-100" %>
          <h5>カテゴリー</h5>
          <% @categorys.each do |category| %>
            <%= f.radio_button :category_id, :"#{category.id}" %>
            <%= f.label :category_id, "#{category.name}", value: :"#{category.id}" %>
          <% end %>
          <h5>本文</h5>
          <%= f.text_area :body, class: "form-control" %>
          <h5>日時</h5>
          <%= f.text_field :date, class: "form-control" %>
          <h5>場所</h5>
          <%= f.text_field :place, class: "form-control" %>
          <%= f.submit '投稿', class: "btn btn-lg btn-block btn-info mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
