<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "投稿一覧", posts_path %></li>
    <li class="breadcrumb-item active" aria-current="page">投稿詳細</li>
  </ol>
</nav>


<div class="container py-5">

  <div class="d-flex justify-content-end">
    <%= link_to "#{@post.category.name}", categorized_path(@post.category.id), class: "btn btn-outline-info" %>
  </div>
  <div class="d-flex justify-content-center">
    <%= image_tag @post.get_image(1000,1000), class: "rounded"; %>
  </div>

  <div class="row m-3">
    <%= link_to user_path(@post.user.id), class: "col-md-4 mr-auto" do %>
      <%= image_tag @post.user.get_profile_image(100, 100), class: "rounded-circle" %>
      <span class="overflow-x-visible"><%= @post.user.name %></span>
    <% end %>
    <!-- ブックマークとコメント件数 -->
    <span class="col-md-1  align-self-end">
      <% if @post.bookmarked_by?(current_user) %>
        <%= link_to post_bookmark_path(@post), method: :delete do %>
          <%= @post.bookmarks.count %> <i class="fa-solid fa-bookmark"></i>
        <% end %>
      <% else %>
        <%= link_to post_bookmark_path(@post), method: :post do %>
          <%= @post.bookmarks.count %> <i class="fa-regular fa-bookmark"></i>
        <% end %>
      <% end %>
    </span>
    <span class="col-md-1 align-self-end">
      <%= @post.post_comments.count %> <i class="fa-regular fa-message"></i>
    </span>
    <% if current_user == @post.user %>
      <span class="col-md-2 align-self-end">
        <div class="d-flex justify-content-center">
          <%= link_to "削除", post_path(@post.id), class: "btn btn-outline-danger", method: :delete %>
        </div>
      </span>
    <% end %>
  </div>

  <!-- 投稿データ -->
  <table class="table">
    <tbody>
      <tr>
        <th>
          本文
        </th>
        <th>
          <%= @post.body %>
        </th>
      </tr>
      <tr>
        <th>
          日時
        </th>
        <th>
          <%= @post.date %>
        </th>
      </tr>
      <tr>
        <th>
          場所
        </th>
        <th>
          <%= @post.place %>
        </th>
      </tr>
      <tr>
        <th>
          投稿日
        </th>
        <th>
          <%= @post.created_at.strftime('%Y/%m/%d') %>
        </th>
      </tr>
    </tbody>
  </table>

  <!-- 返信一覧 -->
  <div class="mt-5">
    <% @post.post_comments.each do |post_comment| %>
      <span><%= post_comment.user.name %></span>
      <div class="row d-flex align-items-end">
        <div class="col">
          <%= image_tag post_comment.user.get_profile_image(70,70) %>
        </div>
        <div class="col-9">
          <%= post_comment.comment %>
        </div>
        <div class="col">
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
        </div>
        <div class="col">
          <% if current_user == post_comment.user %>
            <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
  </div>

  <div class="mt-5 d-flex justify-content-center">
    <%= form_with model: [@post, @post_comment] do |f| %>
      <%= f.text_area :comment, rows: '3',class: "form-control" %>
      <%= f.submit "コメントする" %>
    <% end %>
  </div>
</div>

<!-- 円グラフ -->
<div>
  <!--
    <%= pie_chart @post.votes.group(:opinion).count %>
  -->
</div>


