<h2>検索結果</h2>
<div class="container py-5">
  <% if @range == "User" %>
    <div class="row">
      <% @users.each do |user| %>
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            <%= user.name %>
          </div>
          <%= link_to user_path(user.id), class:"mx-auto" do %>
            <%= image_tag user.get_profile_image(100, 100), class:"rounded circle" %>
          <% end %> 
          <div class="card-body">
            <p class="card-text"><%= user.introduction %></p>
          </div>
          <div class="card-body">
            <p class="card-text">好きな動物：<br><%= user.favorite_animal %></p>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @users %>
  <% else %>
    <div class="row">
      <% @posts.each do |post| %>
        <div class="card" style="width: 15rem;">
          <%= link_to post_path(post.id), class:"mx-auto" do %>
            <%= image_tag post.get_image(200, 200), class:"card-img-top rounded" %>
          <% end %> 
          <div class="card-body">
            <p class="card-text"><%= post.body %></p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= post.category.name %></li>
              <li class="list-group-item"><%= post.date %></li>
              <li class="list-group-item"><%= post.place %></li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @posts %>
  <% end %>
</div>
