<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "投稿一覧", posts_path %></li>
    <li class="breadcrumb-item active" aria-current="page">ユーザー</li>
  </ol>
</nav>


<div class="container py-5">
  <%= image_tag @user.get_profile_image(100, 100), class: "rounded-circle"; %>
  <table class="table">
    <tbody>
      <tr>
        <th>
          名前
        </th>
        <th>
          <%= @user.name %>
        </th>
      </tr>
      <tr>
        <th>
          自己紹介
        </th>
        <th>
          <%= @user.introduction %>
        </th>
      </tr>
      <tr>
        <th>
          好きな動物
        </th>
        <th>
          <%= @user.favorite_animal %>
        </th>
      </tr>
    </tbody>
  </table>

  <% if @user == current_user %>
    <div class="mt-3 mb-5">
      <%= link_to "プロフィール編集", edit_user_path(@user.id), class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render 'public/posts/list', posts: @posts %>
</div>