<!DOCTYPE html>
<html>
  <head>
    <title>Zukan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="heading">
        なんでもソーシャル生き物図鑑
      </h1>
      <nav>
        <ul class="nav-list">
          <% if user_signed_in? %>
            <li class="nav-list-item">
              <%= link_to "TOP", posts_path %>
            </li>
            <li class="nav-list-item">
              <%= link_to "新規投稿", new_post_path %>
            </li>
            <li class="nav-list-item">
              <%= link_to "ユーザー一覧", users_path %>
            </li>
            <li class="nav-list-item">
              <%= link_to "マイページ", user_path(current_user.id) %>
            </li>
            <li class="nav-list-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
            <!-- 検索ボタン -->
            <div>
              <%= form_with url:search_path, local: true, method: :get do |f| %>
                <%= f.text_field :word %>
                <%= f.select :range, options_for_select([['User'], ['Post']]) %>
                <%= f.submit "検索", class: "btn btn-primary" %>
              <% end %>
            </div>
          <% else %>
            <li class="nav-list-item">
              <%= link_to "TOP", posts_path %>
            </li>
            <li class="nav-list-item">
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li class="nav-list-item">
              <%= link_to "ログイン", new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
